- name: Deploy Mealie
  community.docker.docker_container:
    name: mealie
    image: ghcr.io/mealie-recipes/mealie:v3.9.2
    ports:
      - "9925:9000"
    volumes:
      - "{{ ansible_docker_dir }}/Mealie/app/data:/app/data"
    memory: 1G
    env:
      TZ: "Europe/Warsaw"
      PUID: "1000"
      PGID: "1000"
      ALLOW_SIGNUP: "false"
      BASE_URL: "{{ mealie.base_url }}"
    restart_policy: unless-stopped
  become: true
