[Desktop Entry]
Name=Warp
Comment=Warp is the terminal reimagined with AI and collaborative tools for better productivity.
Exec={{ ansible_user_dir }}/Ansible/Warp/Warp.AppImage
Icon={{ ansible_user_dir }}/Ansible/Warp/icon.png
Terminal=false
Type=Application
