[Desktop Entry]
Name=Warp
Comment=Warp is the terminal reimagined with AI and collaborative tools for better productivity.
Exec={{ ansible_workspace_dir }}/Warp/Warp.AppImage
Icon={{ ansible_workspace_dir }}/Warp/icon.png
Terminal=false
Type=Application
