- name: Install crontab
  ansible.builtin.dnf:
    name:
      - cronie
  become: true
  when: ansible_facts['os_family'] == "RedHat"

- name: Copy backup script
  ansible.builtin.copy:
    src: "{{ inventory_hostname }}/rsync-backup"
    dest: "{{ ansible_user_dir }}/.local/bin/"
    owner: "{{ ansible_env['USER'] }}"
    mode: "+x"
  become: true

- name: Set cron schedule
  ansible.builtin.cron:
    name: "backup"
    hour: "18"
    minute: "0"
    job: "{{ ansible_user_dir }}/.local/bin/rsync-backup"
