- name: Deploy FreshRSS
  community.docker.docker_container:
    name: fresh-rss
    image: freshrss/freshrss:1.28.0
    ports:
      - "8112:80"
    volumes:
      - "{{ ansible_docker_dir }}/fresh-rss/data:/var/www/FreshRSS/data"
      - "{{ ansible_docker_dir }}/fresh-rss/extensions:/var/www/FreshRSS/extensions"
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Warsaw"
      CRON_MIN: "1,31"
    restart_policy: unless-stopped
  become: true
