- name: Deploy FreshRSS
  community.docker.docker_container:
    name: fresh-rss
    image: freshrss/freshrss:1.26.3
    ports:
      - "8112:80"
    volumes:
      - /volume1/docker/FreshRSS/data:/var/www/FreshRSS/data
      - /volume1/docker/FreshRSS/extensions:/var/www/FreshRSS/extensions
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Warsaw"
      CRON_MIN: "1,31"
    restart_policy: unless-stopped
  become: true
