- name: Install zsh
  ansible.builtin.dnf:
    name:
      - zsh
  become: true
  when: ansible_facts['os_family'] == "RedHat"

- name: Copy .zshrc
  ansible.builtin.copy:
    src: ".zshrc"
    dest: "{{ ansible_user_dir }}/.zshrc"

- name: Copy custom common config
  ansible.builtin.copy:
    src: "zsh/common/"
    dest: "{{ ansible_user_dir }}/.config/zsh/"

- name: Copy custom work config
  ansible.builtin.copy:
    src: "zsh/work/"
    dest: "{{ ansible_user_dir }}/.config/zsh/"
  when: context == "work"