- name: setup
  ansible.builtin.include_tasks: setup.yml

- name: preferences
  ansible.builtin.include_tasks: preferences.yml

- name: fonts
  ansible.builtin.include_tasks: fonts.yml

- name: kinesis 360 keyboard shortcuts
  ansible.builtin.include_tasks: keyboard-shortcuts-kinesis.yml