- name: Install work cli tools
  community.general.homebrew:
    name:
      - chart-testing
      - jetbrains/utils/qodana

- name: Install work cli tools mise
  ansible.builtin.copy:
    src: "cli-tools-work.toml"
    dest: "{{ ansible_user_dir }}/.config/mise/conf.d/"
  notify: mise upgrade