- name: Install common cli tools
  ansible.builtin.package:
    name:
      - htop
  become: true

- name: Install common cli tools mise
  ansible.builtin.copy:
    src: "cli-tools-common.toml"
    dest: "{{ ansible_user_dir }}/.config/mise/conf.d/"
  notify: mise upgrade