- name: Install common cli tools dnf
  ansible.builtin.dnf:
    name:
      - htop
  become: true
  when: ansible_facts['os_family'] == "RedHat"

- name: Install common cli tools mise
  ansible.builtin.copy:
    src: "cli-tools-common.toml"
    dest: "{{ ansible_user_dir }}/.config/mise/conf.d/"
  register: mise_result

- name: Run mise upgrade
  ansible.builtin.command: mise upgrade
  changed_when: mise_result.changed
