- name: Deploy Portainer
  community.docker.docker_container:
    name: portainer-ce
    image: portainer/portainer-ce:2.33.5
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - "{{ ansible_docker_dir }}/portainer-ce:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart_policy: unless-stopped
  become: true
