- name: Deploy Portainer
  community.docker.docker_container:
    name: portainer-ce
    image: portainer/portainer-ce:2.27.9
    ports:
      - "8000:8000"
      - "9000:9000"
    volumes:
      - /volume1/docker/portainer-ce:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart_policy: unless-stopped
  become: true
