- name: Remove firefox
  ansible.builtin.dnf:
    name:
      - firefox
    state: absent
  become: true
  when: ansible_architecture == "x86_64" # there is no firefox flatpak for aarch64

- name: Remove unneeded dnf packages
  ansible.builtin.dnf:
    name:
      - baobab
      - evince
      - gnome-boxes
      - gnome-calculator
      - gnome-calendar
      - gnome-clocks
      - gnome-connections
      - gnome-contacts
      - gnome-font-viewer
      - gnome-logs
      - gnome-maps
      - gnome-system-monitor
      - gnome-terminal
      - gnome-text-editor
      - gnome-weather
      - libreoffice-core
      - loupe
      - mediawriter
      - rhythmbox
      - snapshot
    state: absent
  become: true

- name: Install dnf packages
  ansible.builtin.dnf:
    name:
      - ptyxis
      - moreutils
  become: true
