- name: Install desktop flatpaks
  community.general.flatpak:
    name: "{{ item }}"
  loop:
    - com.protonvpn.www
    - de.haeckerfelix.Fragments
    - dev.qwery.AddWater
    - io.gitlab.librewolf-community
    - io.gitlab.news_flash.NewsFlash
    - me.proton.Mail
    - org.musicbrainz.Picard
    - org.nickvision.tubeconverter
    - tv.plex.PlexDesktop
  ignore_errors: true # Not every flatpak is available on aarch64
  become: true