- name: Install common flatpaks
  community.general.flatpak:
    name: "{{ item }}"
  loop:
    - ca.desrt.dconf-editor
    - com.github.tchx84.Flatseal
    - com.mattjakeman.ExtensionManager
    - com.plexamp.Plexamp
    - md.obsidian.Obsidian
    - net.nokyan.Resources
    - org.gnome.baobab
    - org.gnome.Boxes
    - org.gnome.Calculator
    - org.gnome.Calendar
    - org.gnome.clocks
    - org.gnome.Decibels
    - org.gnome.font-viewer
    - org.gnome.gitlab.cheywood.Buffer
    - org.gnome.Loupe
    - org.gnome.Papers
    - org.gnome.Showtime
    - org.gnome.Snapshot
    - org.gnome.TextEditor
    - org.gnome.Weather
    - org.keepassxc.KeePassXC
    - org.libreoffice.LibreOffice
    - org.mozilla.Thunderbird
  ignore_errors: true # Not every flatpak is available on aarch64
  become: true