services:
  db:
    image: mariadb:10.11
    container_name: seafile-mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ seafile.db.pass }}
      - MYSQL_LOG_CONSOLE=true
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - /volume1/docker/seafile/mysql/db:/var/lib/mysql
    networks:
      - seafile-net

  memcached:
    image: memcached:1.6.18
    container_name: seafile-memcached
    entrypoint: memcached -m 256
    networks:
      - seafile-net

  seafile:
    image: seafileltd/seafile-mc:11.0-latest
    container_name: seafile
    ports:
      - "10414:80"
    volumes:
      - /volume1/docker/seafile/data:/shared
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD={{ seafile.db.pass }}
      - TIME_ZONE=Europe/Warsaw
      - SEAFILE_ADMIN_EMAIL={{ seafile.admin.user }}
      - SEAFILE_ADMIN_PASSWORD={{ seafile.admin.pass }}
      - SEAFILE_SERVER_LETSENCRYPT=false
      - SEAFILE_SERVER_HOSTNAME={{ seafile.admin.url }}
    depends_on:
      - db
      - memcached
    networks:
      - seafile-net

networks:
  seafile-net: