- name: Add the flathub flatpak repository remote
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

- name: Install dnf packages
  ansible.builtin.dnf:
    name:
      - python3-psutil # Needed for community.general.dconf
  become: true

- name: Remove unneeded dnf packages
  ansible.builtin.dnf:
    name:
      - gnome-calculator
      - gnome-calendar
      - gnome-clocks
      - gnome-contacts
      - gnome-text-editor
      - libreoffice-core
      - snapshot
      - loupe
      - rhythmbox
    state: absent
  become: true

- name: Install flatpaks
  community.general.flatpak:
    name:
      - app.devsuite.Ptyxis
      - org.gnome.Calendar
      - org.gnome.clocks
      - org.gnome.Loupe
      - org.gnome.Snapshot
      - org.gnome.TextEditor
      - com.plexamp.Plexamp
      - net.nokyan.Resources
      - io.appflowy.AppFlowy
      - ca.desrt.dconf-editor
      - com.mattjakeman.ExtensionManager
      - org.mozilla.Thunderbird
      - org.gnome.gitlab.cheywood.Buffer
      - com.github.tchx84.Flatseal
      - org.libreoffice.LibreOffice
      - io.podman_desktop.PodmanDesktop

- name: homebrew
  ansible.builtin.include_tasks: homebrew.yml

- name: oh-my-zsh
  ansible.builtin.include_tasks: oh-my-zsh.yml