- name: Install nvim
  ansible.builtin.dnf:
    name:
      - neovim
  when: ansible_facts['os_family'] == "RedHat"

- name: Copy .ideavimrc
  ansible.builtin.copy:
    src: ".ideavimrc"
    dest: "{{ ansible_user_dir }}/.ideavimrc"

- name: Copy .vimrc
  ansible.builtin.copy:
    src: ".vimrc"
    dest: "{{ ansible_user_dir }}/.vimrc"
