- name: Create audiobooks directory
  file:
    path: "{{ ansible_docker_dir }}/audiobookshelf/audiobooks"
    state: directory
    owner: "{{ ansible_env['USER'] }}"
  become: true

- name: Deploy Audiobookshelf
  community.docker.docker_container:
    name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:2.32.1
    ports:
      - "13378:80"
    volumes:
      - "{{ ansible_docker_dir }}/audiobookshelf/podcasts:/podcasts"
      - "{{ ansible_docker_dir }}/audiobookshelf/config:/config"
      - "{{ ansible_docker_dir }}/audiobookshelf/metadata:/metadata"
      - "{{ ansible_docker_dir }}/audiobookshelf/audiobooks:/audiobooks"
    env:
      TZ: "Europe/Warsaw"
      REFRESH_TOKEN_EXPIRY: "2592000"
    restart_policy: unless-stopped
  become: true
