- name: Deploy Syncthing
  community.docker.docker_container:
    name: syncthing
    image: linuxserver/syncthing:1.29.3
    ports:
      - "8384:8384"
      - "22000:22000/tcp"
      - "22000:22000/udp"
      - "21027:21027/udp"
    volumes:
      - /volume1/docker/syncthing/config:/config
      - /volume1/docker/syncthing/data1:/data1
      - /volume1/docker/syncthing/data2:/data2
    env:
      PUID: "1000"
      PGID: "1000"
      TZ: "Europe/Warsaw"
    restart_policy: unless-stopped
  become: true
