- name: Set font antialiasing
  community.general.dconf:
    key: "/org/gnome/desktop/interface/font-antialiasing"
    value: "'rgba'"

- name: Set font hinting
  community.general.dconf:
    key: "/org/gnome/desktop/interface/font-hinting"
    value: "'full'"

- name: Set interface font to Adwaita Sans
  community.general.dconf:
    key: "/org/gnome/desktop/interface/font-name"
    value: "'Adwaita Sans 12'"

- name: Set monospace font to JetBrains Mono NF
  community.general.dconf:
    key: "/org/gnome/desktop/interface/monospace-font-name"
    value: "'JetBrainsMonoNL Nerd Font 14'"
